/docker-compose.override.yml

### Composer ###
composer.phar
/vendor/
/bin/*
!/bin/.gitkeep

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
/composer.lock

*.iml

.idea/

/example-app/src/Resources/data/*
/example-app/var/log/*
!/example-app/var/log/.gitkeep
/example-app/var/tmp/*
!/example-app/var/tmp/.gitkeep
!/example-app/src/Resources/data/.gitkeep
/example-app/src/Resources/public/uploads/*
!/example-app/src/Resources/public/uploads/.gitkeep

# ansible retry files
*.retry
/.php_cs.cache
